/*
color scheme...
D8CAA8
5C832F
284907
382513
363942
*/

html, body {
  margin: 0;
  padding: 0;
  background: #5c832f;
  font-family: 'Expletus Sans', cursive;
  color: #D8CAA8;
  font-weight: 700;
}

body {
  width: 100%;
  overflow-x: hidden;
}

a, a:visited, a:active {
  color: #D8CAA8;
}
