/*
color scheme...
D8CAA8
5C832F
284907
382513
363942
*/

html, body {
  margin: 0;
  padding: 0;
  background: #5c832f;
  font-family: 'Expletus Sans', cursive;
  color: #D8CAA8;
  font-weight: 700;
}

body {
  width: 100%;
  overflow: hidden;
}

a, a:visited, a:active {
  color: #D8CAA8;
}

p {
  font-size: 24px;
}

h1,h2 {
  font-size: 76px;
  display: block;
  text-align: center;
  margin-bottom: 150px;
}

h1 {
  margin:0;
  padding: 50px 0 0 0;
  pointer-events: none;
}

h3 {
  font-size: 88px;
}

